# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
spring-boot-thymeleaf-anti-xss/src/main/resources/static/js/lib
spring-boot-thymeleaf-anti-xss/src/main/resources/static/js/lib/summernote
spring-boot-thymeleaf-anti-xss/src/main/resources/static/js/lib/xss
spring-boot-thymeleaf-anti-xss/src/main/resources/static/js/lib/bootstrap
spring-boot-thymeleaf-anti-xss/src/main/resources/static/js/lib/bootstrap-wysiwyg
spring-boot-thymeleaf-anti-xss/src/main/resources/static/js/lib/jquery
.metadata/

.DS_Store
.classpath
.idea/
*.iml
target/
*.pyc
out/
.project
.settings/
bin/
*/WEB-INF/lib
